.item {
  border-bottom: 1px solid rgba(192, 192, 192, 0.1);
  position: relative;
  list-style: none;
  margin-left: 20px;
}
.item:last-child{
  border-bottom: none;
}

.item-input {
  border: none;
  box-shadow: none;
  outline: none;
  color: rgb(128, 128, 128);
}
.item-input:focus {
  border: none;
  box-shadow: none;
  outline: none;
  color: black;
}

.item-durationBadge {
  font-size: 10px;
  width: 30px;
  display: inline-block;
  font-weight: 900;
  color: rgb(216, 216, 216);
}

.period-itemGroupLabel:focus {
  outline: none;
  text-decoration: underline;
  color: rgb(192, 192, 192);

}
